#box {
     
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(106, 255, 194);
    padding: 10px; padding-top:0px;
    width: 300px;
}


#box button {
    width: 56.7999px;
    padding: 2px;
}

#off{
    text-align: center; margin:5px;
}
#off button{width:80px}

#onButtons
{
    text-align: center;
}
.inLine
{
    display: inline-block;
}

#message
{
    text-align: center;
}